# # <For ECRへimage push>
# version: '3.9'
# services:
#  app:
#    container_name: "wellbee-docker"
#    build:
#      context: .
#      dockerfile: Dockerfile
#    image: 779846817718.dkr.ecr.me-south-1.amazonaws.com/ecr-wellbee-studio:latest
#    working_dir: /wellbee
#    expose:
#       - "8000"
#    volumes:
#      - .:/wellbee
#   #  command: sh -c "chmod +x /wellbee/entrypoint.sh && /wellbee/entrypoint.sh"
#    command: sh -c "chmod +x /wellbee/entrypoint.prod.sh && /wellbee/entrypoint.prod.sh"
#    env_file:
#       # - .env
#       - .env.prod
#  web:
#    container_name: web
#    build: 
#      context: .
#      dockerfile: nginx/Dockerfile
#    volumes:
#       - ./static:/static
#    # ローカルの80番ボートをコンテナの80番ポートとつなぐ
#    ports:
#       - "80:80"
#    # 先にappを起動してからwebを起動する
#    depends_on:
#       - app


# <ECRへimage push前>
version: '3.9'
services:
 app:
   container_name: "wellbee-docker"
   build:
     context: .
     dockerfile: Dockerfile
   working_dir: /wellbee
   expose:
      - "8000"
   volumes:
     - .:/wellbee
   command: sh -c "chmod +x /wellbee/entrypoint.sh && /wellbee/entrypoint.sh"
   env_file:
      # - .env
      - .env.prod
 web:
   container_name: web
   build: 
     context: .
     dockerfile: nginx/Dockerfile
   volumes:
      - ./static:/static
   # ローカルの80番ボートをコンテナの80番ポートとつなぐ
   ports:
      - "80:80"
   # 先にappを起動してからwebを起動する
   depends_on:
      - app
  